body{
    background: linear-gradient(315deg, #ffff, #737da3, #FA4753);
    background-size: 200% 200%;
    animation: gradient 10s linear infinite;
    animation-direction: alternate;
    background-repeat: no-repeat;
    background-attachment: scroll;



    }
    @keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}

.left{
    float: left;
}

.right{
    float: right;
}

.middle{
    margin: auto;
}

.container2 {
    position: relative;
    max-width: 50%;
    margin: auto;

}
  
  .image {
    opacity: 1;
    display: block;
    max-width: 100%;
    height: 100%;
    margin: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container2:hover .image {
    opacity: 0.3;
  }
  
  .container2:hover .middle {
    opacity: 1;
  }
  
.text {
    background-color: #737da3;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

#mudfield {
    display: flex;
    flex-flow: column;
    max-width: 800px;
    margin: auto;
    float: right;
}
    
#mf_kep {
    max-width: 800px;
    max-height: 600px;
}
    
#bottomtext {
    background: linear-gradient(to bottom right, black, red);
    color: black;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
    font-size: xx-large;
    max-width: 600px;
}   

#lista{
    display: block;
    float: right;
}

#covers {
    max-width: 400px;
    max-height: 300px;
    float: right;
}

#Dal {
    font-style: italic;
}

h1{
    text-align: center;
    font-size: 300%;
    color: black;
    font-weight: bold;
    
}

a{
    color: #9ba5c9;
    text-decoration: none;
}

h2{
    font-size: 200%;
    color: black;
    font-weight: bold;
}

#enh2{
    font-size: 130%;
    color: black;
    font-weight: bold;
}


li{
    color: black;
}

#vocal{
	margin: 0;
	padding: 36px 0 36px 84px;
	list-style: none;
	background-image: url("../img/mic.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 40px;
}

#bass{
	margin: 0;
	padding: 36px 0 36px 84px;
	list-style: none;
	background-image: url("../img/bass.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 40px;
}

#guitar{
	margin: 0;
	padding: 36px 0 36px 84px;
	list-style: none;
	background-image: url("../img/guitar.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 40px;
}

#drum{
	margin: 0;
	padding: 36px 0 36px 84px;
	list-style: none;
	background-image: url("../img/drum.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 40px;
}

main{
    background-color: rgba(97, 0, 223, 0.267);
    margin: auto;
    width: 1200px;
    border-radius: 30px;
    padding: 30px;
}
    
p{
    text-indent: 15px;
    font-size: 120%;
    color: black;
}
    

    
#elso{
    float: right;
    height: 300px; 
}
    
.menu{
    background-color: black;
    margin-bottom: 50px;    
}
    
.szin{
    color: whitesmoke !important;
    font-size: 120%;
}
    
img{
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to left,  #ffff, #737da3, #FA4753);
 
}



#banner{
background-image: url(../img/pop.jpg);
background-size: cover;
height: 300px;
position: center;
}

#banner2{
    background-image: url(../img/klasz.jpg);
    background-size: cover;
    height: 300px;
    position: center;
    border-radius: 10px;
    }








@media screen and (max-width: 1000px) {
    main {
        background-color: rgba(97, 0, 223, 0.068);
        margin: auto;
        width: 100%;
    }
}

#gt {
    display: flex;
    flex-flow: column;
    max-width: 600px;
    margin: auto;
    float: right;
	margin-left: 10px;
}

#gt_jamie {
    max-width: 600px;
    max-height: 450px;
}

#link:link{
	color: red;
	font-weight: bold;
}

#link:visited{
	text-decoration: none;
	color: black;
	font-weight: normal;
}

#gt_mgr {
    display: flex;
    flex-flow: column;
    max-width: 800px;
    margin-right: 40px;
    float: left;
}

#gt_fox {
    max-width: 150px;
    max-height: 150px;
}

#gt_tobyfox {
    display: flex;
    flex-flow: column;
    max-width: 150px;
    margin-right: 150px;
    float: left;
}

#asdasd {
	height: 40px;
	color: rgba(0,0,0,0)
}

#borito {
	max-height: 200px;
	max-width: 200px;
}

table, th, tr, td{
	border: 1px solid black;
}

th{
	text-align: center;
	color: black;
	width: 400px;
	background-color: #989dbb;
}

td{
	text-align: center;
	color: black;
	width: 400px;
	height: 100px;
	background-color: #dde3f2;
}